body {
    font-family: 'Times New Roman', Times, serif;
    background-color: aqua;
}
.header_div {
    background-color: rgba(177, 97, 72, 0.938);
    color: purple;
}
.header_div p {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    font-weight: bold;
}
main_div button {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    margin-top: 30px;
    width: 150px;
    letter-spacing: 2px;
}
copyright_footer {
    position: fixed;
   
   bottom : 0;
   width :100%;
   line-height: 3;
   text-align: center;

}